*.toif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
coldCardExe filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*zip filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
public/binaries/** filter=lfs diff=lfs merge=lfs -text
public/binaries/macElectrum filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
public/binaries/hwiMac filter=lfs diff=lfs merge=lfs -text
public/binaries/macElectrumGW filter=lfs diff=lfs merge=lfs -text
src/assets/gameShow/files/** filter=lfs diff=lfs merge=lfs -text
